.row {
  display: flex;
  align-items: center;
  width: auto;
}

.col {
  width: 50%;
}

#mydiv {
  font-family: monospace;
  display: none;
  position: absolute;
  z-index: 9;
  background-color: white;
  top: 0;
  width: 240px;
  box-shadow: 0px 4px 8px rgba(81, 0, 255, 0.5);
  padding: 12px 12px;
}

#mydivheader {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  cursor: move;
  z-index: 10;
  margin-bottom: 10px;
}

select {
  border: 1px solid black;
  height: 30px;
  width: 100%;
}

.chicken-section {
  border: 1px solid black;
}

.slider-container {
  display: flex;
}
