@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

html {
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}

h2 {
  color: #333dff;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: 800;
}

.container {
  position: relative;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
}

.control-panel {
  background-color: #fdf6d8;
  border: 1px solid #333dff;
  display: block;
  font-family: "Source Sans Pro", monospace;
  height: auto;
  width: 420px;
  z-index: 9;
}

#controlPanelHeader {
  background-color: #333dff;
  border-bottom: 1px solid #333dff;
  color: white;
  cursor: move;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

#chickenSelectorContainer {
  height: auto;
  padding: 8px;
}

select {
  align-items: center;
  appearance: menulist;
  background-color: white;
  border: 1px solid #333dff;
  border-radius: 4px;
  color: #333dff;
  display: flex;
  height: 32px;
  padding: 0px 4px;
  width: auto;
}

#allControlsContainer {
  display: flex;
  height: auto;
}

#leftHandMenu {
  background-color: #fbeff4;
  height: auto;
  width: 30%;
}

#rightHandPanel {
  border-left: 1px solid #333dff;
  height: auto;
  width: 70%;
}

/* Range Slider Input Type */
input {
  -webkit-appearance: none;
  background: #fefefe;
  border: 1px solid #000be0;
  border-radius: 4px;
  height: 20px;
  overflow: hidden;
  width: 100%;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #333dff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: -400px 0 0 400px #333dff;
}

input:disabled {
  opacity: 25%;
}

#selectorMenu {
}

.menu-section-container {
  padding: 12px;
}

.menu-subsection-header {
  padding: 8px;
}

.menu-subsection-container {
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.split-sliders-container {
  display: flex;
  width: 100%;
}

.split-slider-container {
  align-items: center;
  display: block;
  width: 100%;
}

.split-slider-container p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 100%;
}

.split-slider-container input {
  width: 75%;
}

.menu-selector {
  display: flex;
  width: 100%;
  height: 32px;
  justify-content: left;
  padding: 8px;
}

.menu-selector:hover {
  color: white;
  background-color: #333dff;
}

.selected {
  background-color: #adb1ff;
}
